#main {
	text-align: center;
	position: relative;
}

#bulb {
	height: 75px;
	width: 75px;
	margin: 0 0 15px 0;
	padding: 0;
} 

#verb-wrapper {
	width: 100%;
	position: absolute;
	margin-bottom: 15px;
}

#desktop {
	width: 100%;
	height: auto;
	top: 0;
	left: 0;
	z-index: -1;
	/*
	background-image: url('../img/desk4.jpg');
	background-size: contain;
	background-repeat: no-repeat; */
}

#overlay {
	position: absolute;
	background-image: url('../img/grunge.jpg');
	background-size: cover;
	width: 100%;
	height: 100%;
	top: 0;
	opacity: 0.05;
}

#verbs {
	position: absolute;
	width: calc(100% - 50px);
	height: calc(100% - 50px);
	margin: 25px;
	top: 0;
	border: 3px solid rgba(245, 245, 245, .5);
	background: rgba(245, 245, 245, .1);
	padding-top: 5%;
}

#verbs p {
	font-family: 'Unica One';
	margin: 0 auto;
	width: 200px;
	text-shadow: 1px 1px 2px black;
}

#header {
	position: absolute;
	top: 0;
	margin: 0 auto;
	width: 100%;
}

#header p {
	background-color: rgba(245, 245, 245, .5);
	font-size: 25pt;
	color: white;
}

#wants {
	position: absolute;
	top: 12%;
	width: 100%;
	margin: 0 auto;
}

#wants p {
	font-size: 30pt;
	color: #F1EDBB;
}

#design p:hover {
	font-family: 'Fredericka the Great';
	color: #89c5df;
}

#write p:hover {
	font-family: 'Miniver';
	color: #ffa5e4;
}

#create p:hover {
	font-family: 'Margarine';
	color: #86e259;
}

#inspire p:hover {
	font-family: 'Snowburst One';
	color: #ffcb00;
}

#design p, #write p, #create p, #inspire {
	display: none;
}

@media screen and (max-width: 768px) {
	#wants p {
		font-size: 20pt;
	}
	#header p {
		font-size: 15pt;
	}
	#bulb {
		height: 50px;
		width: 50px;
	}
}

@media screen and (max-width: 530px) {
	#wants p {
		font-size: 12pt;
	}
	#header p {
		font-size: 10pt;
	}
	#bulb {
		height: 25px;
		width: 25px;
	}
}

